<a href="https://colab.research.google.com/github/annie410577034/Introduction-to-Computers/blob/main/0606.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=0
result=0
while i<=50:
  if i % 2!=0:
    result += i
  i+=1
print("0~50的奇數和結果是%d"% result)

0~50的奇數和結果是625

In [ ]:
i=0
result=0
while i<=50:
  if i % 2==0:
    result += i
  i+=1
print("0~50的偶數和結果是%d"% result)

0~50的偶數和結果是650

In [ ]:
n=int(input("請輸入正整數:"))
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end="")
  print()

請輸入正整數:10
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
sum=0 
for i in range(0,101):
  if (i%3==0 or i%7==0):
    sum+=i
print("數值1~100中,所有3和7的倍數總和=",sum)

數值1~100中,所有3和7的倍數總和= 2208

In [ ]:

p=1
counter=0
n=int(input("請輸入正整數"))
print(n,"的因數有",end=" ")
while (p<=n):
  if (n%p==0):
    print(p,end=" ")
    counter+=1
  p+=1

print()
if (counter==2):
  print(n,"是質數")
else:
  print(n,"不是質數")

請輸入正整數3
3 的因數有 1 3
3 是質數

In [ ]:
list1 = [1,2,3,4,5]

In [ ]:
list1

[1, 2, 3, 4, 5]

In [ ]:
list2 = ["香蕉","蘋果","橘子"]

In [ ]:
list2

In [ ]:
list3 = [1,"香蕉",True]

In [ ]:
list3

[1, '香蕉', True]

In [ ]:
print(list1[1])

2

In [ ]:
print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])
print(list1[4])

1
2
3
4
5

In [ ]:
list4 = ["香蕉","蘋果","橘子"]

In [ ]:
print(list4[1])

蘋果

In [ ]:
print(list4[-1])

橘子

In [ ]:
print(list4[-2])

蘋果

In [ ]:
print(list4[-3])

香蕉

In [ ]:
print(list4[-4])

IndexError: ignored

In [ ]:
list5 = [["tom","1234"]],["mary","abcd"],["david","5678"]

In [ ]:
print(list5[1])

['mary', 'abcd']

In [ ]:
print(list5[0])

[['tom', '1234']]

In [ ]:
print(list5[1][1])

abcd

In [ ]:
print(list5[0][0])

['tom', '1234']

In [ ]:
scores = [85,79,93]
print("國文成績: %d分" % scores[0])
print("數學成績: %d分" % scores[1])
print("英文成績: %d分" % scores[2])

國文成績: 85分
數學成績: 79分
英文成績: 93分

In [ ]:
list6 = [1,2,3,4,5]

In [ ]:
list6[0]=9

In [ ]:
print(list6[0])

9

In [ ]:
print(list6)

[9, 2, 3, 4, 5]

In [ ]:
list7 = ["香蕉","蘋果","橘子"]

In [ ]:
for s in list7:
  print(s,end=",")

香蕉,蘋果,橘子,

In [ ]:
items = [123,"apple",True]
for item in items:
  print(item)

123
apple
True

In [ ]:
score = [85,79,93]

In [ ]:
print(len(score))

3

In [ ]:
score = [85,79,93]
for i in range(len(score)):
  print(score[i])

85
79
93

In [ ]:
scores = [85,79,93]
A=["國文成績:","數學成績:","英文成績:"]
for j in (A):
  for i in range(len(score)):
   print(A,scores[i] )

['國文成績:', '數學成績:', '英文成績:'] 85
['國文成績:', '數學成績:', '英文成績:'] 79
['國文成績:', '數學成績:', '英文成績:'] 93
['國文成績:', '數學成績:', '英文成績:'] 85
['國文成績:', '數學成績:', '英文成績:'] 79
['國文成績:', '數學成績:', '英文成績:'] 93
['國文成績:', '數學成績:', '英文成績:'] 85
['國文成績:', '數學成績:', '英文成績:'] 79
['國文成績:', '數學成績:', '英文成績:'] 93